@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(Poppins.woff2) format('woff2');
}

.swiper-slide {
    background-color: #202a30;
    padding: 1em 0em;
    overflow: scroll;
}

.swiper-container > .swiper-pagination {
    position: fixed;
    height: 40px;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
}

html, body, .swiper-container, .swiper-wrapper {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #202a30 !important;
    margin: 0;
    color: white;
    font-size: 14px;
    height: 100%;
}

.swiper-pagination-bullet {
    opacity: 0.8;
    width: 12px;
    height: 12px;
    box-shadow:  0px 0px 10px #fff;
}

.swiper-pagination-bullet-active {
    background: #fff
}

.fade {
    margin: 1em;
}

.nav {
    padding: 0;
    margin: 0;
}

.nav-item a {
    text-decoration: none;
    margin: 1em;
    padding: 1em;
    color: white;
}

.nav-item {
    display: inline-block;

    margin: 1em 1em 1em 0em;
    padding: 0.5em;
    box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: relative;
}

input[type="range"]:focus {
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    /* Removes the default styling */
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
    background: #32414a;
    cursor: pointer;
}

/*All the same stuff for firefox */
input[type=range]::-moz-range-thumb {
    width: 3em;
    height: 3em;
    margin: .5em 0;
    border-radius: 100%;
    box-shadow: 7px 7px 10px #0c1013 inset, -5px -6px 10px #2e3b42 inset;
    background: #32414a;

    cursor: pointer;
    border: 0;
}


/* RUNNABLE TRACK -> represented by the indented carve in which the ball (thumb) moves */
/* Webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
    width: 100%;
    height: 1em;
    padding: 0 1em;
    border-radius: 2em;
    border-radius: 3px;
    box-shadow: 7px 7px 10px #0c1013 inset, -5px -6px 10px #2e3b42 inset;

}

/* For firefox */
input[type=range]::-moz-range-track {
    background: transparent;
    width: 100%;
    height: 1em;
    padding: 0 0em;
    border-radius: 0em;
    border-radius: 3px;
    box-shadow: 7px 7px 10px #0c1013 inset, -5px -6px 10px #2e3b42 inset;
}

input[type="range"]::before {
    position: absolute;
    text-align: center;
    color: #c4c4c4;
    font-size: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6em;
    text-shadow: .5px .5px 0.9px rgba(0, 0, 0, .4);
    z-index: -1;
}

.range output {}

.searchResultThumbnail {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.card-body {
    background-color: rgba(32, 42, 48, 0.8);
    padding: 1em;
    border-radius: 0 0 20px 20px;
}

.collapse .card-body {
    display: none;
}

.collapse .card-body.active {
    display: block;
}

.card-title {
    font-size: 120%;
}

.container {
    padding: 0.5em;
}

.cardContent {
    box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
    border-radius: 20px;
}

.teaser {
    border-radius: 20px;
    height: 300px;
    width: 400px;
    background-position: center center;
    background-size: auto 300px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchResultThumbnail img {
    position: absolute;
    top: -150px;
}

.range input[type="range"] {
    width: 77%;
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.range.range-primary output {
    background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}

.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}

.range.range-success output {
    background-color: rgb(92, 184, 92);
}

.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}

.range.range-info output {
    background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}

.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}

.range.range-warning output {
    background-color: rgb(240, 173, 78);
}

.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}

.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}

.range.range-danger output {
    background-color: rgb(217, 83, 79);
}

.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}

.btn,
button {
    list-style: none;
}

.btn-link {
    cursor: pointer;
}

button.close {
    position: absolute;
    right: 1em;
    top: 0.7em;
}

.modal-title {
    position: absolute;
    left: 1.3em;
}

.modal-header {
    height: 3em;
    position: relative;
}

.btn,
button {
    border-radius: 10px;
    background: linear-gradient(145deg, #1d262b, #222d33);
    box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
    border: 0;
    color: white;
    padding: 0.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.card {
    margin: 1em 0;
}

.modal-body,
.modal-footer {
    margin: 1.5em;
}

.card-header h5 {
    margin: 0 1em;
}

h5 {
    margin: 0.5em 0;
}

.card-header {
    padding: 1em 0em;
}

.card-header button {
    margin: 0 0.5em;
}

.btn svg {
    width: 3em;
    height: 3em;
}

textarea:focus,
input:focus {
    border-radius: 10px;
    outline-color: #536975;
    -moz-outline-radius: 15px;
}

input[type='text'],
select {
    border-radius: 10px;
    background: #202a30;
    box-shadow: 7px 7px 10px #0c1013 inset, -5px -6px 10px #2e3b42 inset;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
    border: 0;
    color: white;
}


#searchResultCloneable {
    display: none;
}

.row {
    float: none;
}

.col {
    display: inline-block;
    margin: 0.5em;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}


.player-bar {
    bottom: 0;
    width: 100%;
    background-color: rgba(32, 42, 48, 0.5);
    box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
    padding: 2em 0em;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-height: 759px) {

    /* For desktop: */
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
    .player-card {
        display: inline-block;
        margin: 0.5em;
        box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
    }

    .card {
        width: 23%;
        display: inline-block;
        margin: 0.5em;
        box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
    }

    .btn svg {
        position: relative;
        top: 0.2em;
        width: 1.3em;
        height: 1.3em;
    }
}

#streams ul li {
    display: inline-block;
    margin: 1em 1em 1em 0em;
    list-style: none;
    background-color: rgba(32, 42, 48, 0.5);
    box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
}

#streams span.tv-channels {
    height: 60px;
    width: 120px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1em;
    background-position: center;
}

#streams ul {
    padding: 0 1em;
}

span.badge {
    border-radius: 10px;
    background: linear-gradient(245deg, #1d262b, #222d33);
    box-shadow: 7px 7px 10px #0c1013, -5px -6px 10px #2e3b42;
    border: 0;
    color: white;
    padding: 0 0.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0 0.5em 0 0;
}

.box {
    padding: 1em 0;
}

.fav-btn {
margin: 1em;

}
.range {
margin:1em;
}
